body {
  background: #AAA;
  position: relative;
  height: 90vh; }

header {
  display: flex;
  margin: 10px;
  justify-content: center; }

h1, h2, p {
  text-align: center; }

h1 {
  border: 1px solid black;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  padding: 10px 0; }

h2 {
  font-size: 3em;
  font-weight: bold; }

@keyframes fadeAway {
  from {
    color: black; }
  to {
    color: #AAA; } }
.fade-away {
  color: #AAA;
  animation-name: fadeAway;
  animation-duration: 2s; }

.class-encart {
  text-align: center;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  padding: 20px;
  background: #CCC;
  font-size: 2em;
  border-radius: 15px; }
  .class-encart:hover {
    background: gray; }

#class {
  width: 90%; }

table {
  border-collapse: collapse;
  margin: 40px auto;
  width: 90%; }

th {
  font-size: 1.4em;}

a {
  text-decoration: none;
  color: black; }

td, th {
  border: 1px solid black;
  padding: 5px 20px; }

td {
  font-size: 1.2em; }

.first-name, .last-name {
  font-weight: bold; }

footer {
  color: #FFF; }

span, .try {
  background-color: #FFF;
  padding: 10px;
  box-shadow: 4px 4px 2px #AAA; }

.form_pass {
  height: 50%;
  width: 100%;
  margin: auto; }

.lastParticipation, .contributions {
  text-align: center; }

.logout, .icon {
  position: absolute;
  top: 20px;
  right: 10px; }

.right_columns {
  border: 1px solid #AAA;
  padding: 0;
  width: 35px; }