#students-list {
  td {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  tr {
    height: 45px;
  }
  .participations, .participationsToday, .lastParticipation {
    text-align: center;
  }
}

.right-columns {
  border: none !important;
}

#list-classes {
  text-align: center;
  margin-top: 10%;
  button {
    margin-top: 10px;
    background-color: $grey;
    &:hover {
      background-color: $dark-grey;
    }
  }
  p {
    color: $dark;
  }
}

.student-row {
  height: 50px;
}
.dashboard {
  .icon {
    height: 30px;
  }
  .search {
    width: 300px;
    border-radius: 8px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

#confirmModal {
  .modal-footer, .modal-header {
    border: none;
  }
}

.table th {
  vertical-align: middle;
}

#sanctions-alert {
  cursor: pointer;
}