#students-list {
  td {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  tr {
    height: 45px;
  }
}

.right-columns {
  border: none !important;
}

#list-classes {
  text-align: center;
  margin-top: 10%;
  button {
    margin-top: 10px;
    background-color: $grey;
    &:hover {
      background-color: $dark-grey;
    }
  }
  p {
    color: $dark;
  }
}

.student-row {
  height: 50px;
}
.dashboard {
  .icon {
    height: 30px;
  }
  .search {
    width: 300px;
    border-radius: 8px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

#confirmModal {
  .modal-footer, .modal-header {
    border: none;
  }
}

.table th {
  vertical-align: middle;
}

#sanctions-alert {
  cursor: pointer;
  position: relative;
  .icon {
    position: absolute;
  }
  .badge {
    position: relative;
    right: -25px;
    top: -5px;
  }
}

.grouped-icons {
  display: flex;
  justify-content: center;
}

.table-islands {
  td {
    border: none;
  }
  .island-bloc {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 8px;
    margin: 50px 20px;
  }
  .student-bloc {
    padding: 5px;
    border-radius: 8px;
    text-align: center;
  }
}