#comments {
  #comment-form {
    display: none;
  }
  #comments-list {
    #comment-modif {
      width: 20px;
    }
    #comments-title {
      display: flex;
      p {
        margin-right: 10px;
      }
      #more-comments {
        cursor: pointer;
      }
    }
  }
  .hidden-comment {
    display: none;
  }
}