#app-menu {
  font-family: $funkyFont;
  padding-top: 20px;
  .row .col-12 {
    text-align: center;
  }
  .btn {
    margin: 20px;
    font-size: 2rem;
    width: 250px;
  }
  img {
    width: 30px;
  }
}

.navbar-brand {
  .icon {
    height: 30px;
  }
}