$dark: #636363;
$dark-grey: #AAA;
$grey: #BBB;
$light-grey: #f2f1f0;
$super-light-grey: #0000004d;
$white: #FFF;
$green: #79D279;
$green-strong: #28a745;
$red: #FF8080;
$red-strong: #dc3545;
// fonds d'écran
$blueBack: #5bc0eb;
$yellowBack: #fdc94c;
$greenBack: #9bc53d;
$redBack: #e55934;
$orangeBack: #ff9e5c;

$backgroundColor: white;
$funkyFont: 'Pangolin', cursive;
$regularFont: 'Open Sans', sans-serif;

body {
  background: $backgroundColor;
  position: relative;
  height: 90vh;
  font-family: $regularFont;
  font-size: 1rem;
}
.dashboard, .grades, .participation {
  margin: 20px;
  border-radius: 8px;
  header {
    position: relative;
    top: 15px;
  }
}
#app-menu .btn:hover {
  background: $grey;
}
.dashboard {
  background: $blueBack !important;
}
.btn-dashboard {
  background: $blueBack;
}
.participation {
  background: $greenBack !important;
}
.btn-participation {
  background: $greenBack;
}
.grades {
  background: $orangeBack !important;
}
.btn-grades {
  background: $orangeBack;
}
.btn-chat {
  background: $yellowBack;
}
header{
  display: flex;
  margin: 30px;
  justify-content: right;
}
#menu-apps {
  select {
    -moz-appearance: listbox;
    -webkit-appearance: none;
    padding-right: 20px;
    &:focus {
      border: none;
      box-shadow: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  @-moz-document url-prefix() {
    .ui-select {
      padding-right: 20px;
    }
  }
  .active .nav-link {
    color: $dark;
  }
}
.nav-item {
  margin-right: 30px;
}
h1, h2{
  text-align: center;
}
h1{
  width: 50%;
  margin: auto;
  padding: 10px 0;
}
a:hover {
  color: inherit;
}
.green-line {
  background-color: white !important;
}
.red-line {
  background-color: $super-light-grey !important;
}
.red {
  color: $red;
}
.dark {
  background-color: $dark;
}
.active {
  background-color: $backgroundColor;
  border-radius: .25rem;
}
a
{
  text-decoration: none;
  color: black;
}
.logout, .icon {
  margin: 10px;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.btn:focus {
  box-shadow: none;
}
.display-none {
  display: none;
}
.hidden {
  visibility: hidden;
}