$grey: #AAA;
$grey2: #BBB;
$dark: #636363;
$white: #FFF;
$green: #79D279;
$green-strong: #28a745;
$red: #FF8080;
$red-strong: #dc3545;
//TODO CG tests backs/appli
//$blueBack: #55ABC8;
//$yellowBack: #C5C855;
//$redBack: #C85555;
// fonds d'écran
$blueBack: #5bc0eb;
$yellowBack: #fde74c;
$greenBack: #9bc53d;
$redBack: #e55934;
//$orangeBack: #fa7921;
$orangeBack: #ff9e5c;

$backgroundColor: $grey;
$funkyFont: 'Pangolin', cursive;
$regularFont: 'Open Sans', sans-serif;

body {
  background: $backgroundColor;
  position: relative;
  height: 90vh;
  font-family: $regularFont;
  font-size: 1rem;
}
.dashboard {
  background: $blueBack !important;
}
.btn-dashboard {
  &:hover {
    background: $blueBack;
  }
}
.participation {
  background: $greenBack !important;
}
.btn-participation {
  &:hover {
    background: $greenBack;
  }
}
.grades {
  background: $orangeBack !important;
}
.btn-grades {
  &:hover {
    background: $orangeBack;
  }
}
header{
  display: flex;
  margin: 30px;
  justify-content: right;
}
#menu-apps {
  select {
    -moz-appearance: listbox;
    -webkit-appearance: none;
    padding-right: 20px;
    &:focus {
      border: none;
      box-shadow: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  @-moz-document url-prefix() {
    .ui-select {
      padding-right: 20px;
    }
  }
}
.nav-item {
  margin-right: 30px;
}
h1, h2{
  text-align: center;
}
h1{
  width: 50%;
  margin: auto;
  padding: 10px 0;
}
.green-line {
  background-color: $green !important;
}
.red-line {
  background-color: $red !important;
}
.red {
  color: $red;
}
.dark {
  background-color: $dark;
}
.active {
  background-color: $backgroundColor;
  border-radius: .25rem;
}
a
{
  text-decoration: none;
  color: black;
}
.logout, .icon {
  margin: 10px;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.btn:focus {
  box-shadow: none;
}