{% extends "base.html.twig" %}

{% block body %}
    <div>
        <p class="text-center">
            <img src="{{ asset('assets/images/access-denied.jpg') }}" alt="error 403" class="big-icon">
        </p>
    </div>
{% endblock %}