<!-- Modale showSkills-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="show-skills-modal">SKILLS</h5>
        </div>
        <div class="modal-body container" id="skills-list">
            {% for skill in skills %}
                <div class="btn">
                    {{ skill.label | capitalize }}
                </div>
            {% endfor %}
        </div>

        <div class="modal-footer">
            <div id="skill-form" class="hidden">
                <input type="text" name="skill" placeholder="enter skill here">
                <button class="btn btn-success" id="save-skill">save</button>
                <button class="btn btn-danger" id="cancel-skill">cancel</button>
            </div>
            <img class="icon" src="{{ asset('assets/images/plus.png') }}" alt="add-skill" id="add-skill">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('build/app.js') }}"></script>