{% extends "layout.html.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block navbar %}
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark dark">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/home.png" alt="home" class="icon"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-apps" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu-apps">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if app.request.uri matches '#dashboard#' %} active{% endif %}">
                    <a class="nav-link" href="/dashboard">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item{% if app.request.uri matches '#participation#' %} active{% endif %}">
                    <a class="nav-link" href="/participation">
                        Participation
                    </a>
                </li>
                <li class="nav-item{% if app.request.uri matches '#grades#' %} active{% endif %}">
                    <a class="nav-link" href="/grades">
                        Grades
                    </a>
                </li>
                <li class="nav-item{% if app.request.uri matches '#chat#' %} active{% endif %}">
                    <a class="nav-link" href="https://my-english-class-chat.slack.com" target="_blank">
                        Chat
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="mailto:cecilegaz@gmail.com">Support</a>
                        <a class="dropdown-item" href="#">Customization</a>
                        <a class="dropdown-item" href="#">About</a>
                    </div>
                </li>
            </ul>

            {% block class %}
            {% endblock class %}

            {% if app.user.username is defined %}
                Welcome {{ app.user.username }}
                <a class="navbar-brand" href="/logout">
                    <img src="/assets/images/logout.png" alt="logout" class="icon"/>
                </a>
            {% else %}
                <a class="navbar-brand" href="/login">
                    <img src="/assets/images/power.png" alt="login" class="icon"/>
                </a>
            {% endif %}
        </div>
    </nav>
    </body>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
{% block footer %}{% endblock %}