{% extends 'base.html.twig' %}

{% block body %}
<body>
    <section id="app-menu">
        <a href="/participation"><button class="btn">PARTICIPATION</button></a>
        <a href="/dashboard"><button class="btn">DASHBOARD</button></a>
    </section>
</body>
{% endblock %}
