{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <section id="list-classes">
        <div>
            <p>Please select a class.</p>
            {% for class in classes %}
                <button class="btn class-btn" data-classid="{{ class.id }}">
                    CLASS {{ class.label }}
                </button>
            {% endfor %}
        </div>
    </section>
    </body>
{% endblock %}