{% extends 'base.html.twig' %}

{% block body %}
<body>
    <header>
        <h1>My apps</h1>
        <a href="/logout"><img src="assets/images/logout.png" class="icon"></a>
    </header>

    <section>
        <a href="/participation"><button>PARTICIPATION</button></a>
        <a href="/dashboard"><button>DASHBOARD</button></a>
    </section>
</body>
{% endblock %}
