{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <section id="app-menu" class="container">
        <div class="row">
            <div class="col-12">
                <img src="/assets/images/class.png">
                <a href="/dashboard"><button class="btn btn-dashboard">DASHBOARD</button></a>
            </div>
            <div class="col-12">
                <img src="/assets/images/hand-up.png">
                <a href="/participation"><button class="btn btn-participation">PARTICIPATION</button></a>
            </div>
            <div class="col-12">
                <img src="/assets/images/star.png">
                <a href="/grades"><button class="btn btn-grades">GRADES</button></a>
            </div>
            <div class="col-12" target="_blank">
                <img src="/assets/images/chat.png">
                <a href="https://my-english-class-chat.slack.com"><button class="btn btn-chat">CHAT</button></a>
            </div>
        </div>
    </section>
    </body>
{% endblock %}
