{% extends 'base.html.twig' %}

{% block body %}
<body>
    <section id="list-classes">
        {% for class in classes %}
            <a href="/participation/class/{{ class }}">
                <button class="btn">
                    <div class="class-encart">
                        CLASS {{ class }}
                    </div>
                </button>
            </a>
        {% endfor %}
    </section>
</body>
{% endblock %}
