{% extends 'base.html.twig' %}

{% block body %}
<body>
<section id="list-classes">
    <div>
        {% for class in classes %}
            {#<a href="/participation">#}
                <button class="btn class-btn" data-classid="{{ class.id }}">
                    CLASS {{ class.label }}
                </button>
            {#</a>#}
        {% endfor %}
    </div>
    </section>
</body>
{% endblock %}
