{% extends '@FOSUser/layout.html.twig' %}
{% block body %}
    <h1>OUPS...</h1>
    <p>La page que vous avez demandée n'existe pas, nous allons arranger ça.</p>
    <p>En attendant, vous pouvez reprendre votre navigation à l'aide du menu en haut de cette page</p>
{% endblock %}