{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <header>
        <a href="/dashboard"><img src="/assets/images/class.png" alt="dashboard" class="icon"/></a>
    </header>

    <section>
        <table id="students-list" class="table table-striped">
            {% for student in students %}
                <tr class="student-row" data-id="{{ student.id }}" data-toggle="modal" data-target="#showStudent">
                    <td class="name">{{ student.name | upper }}</a></td>
                    <td class="surname">{{ student.surname | capitalize }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <div class="modal" id="showStudent" tabindex="-1" role="dialog" aria-labelledby="showStudent" aria-hidden="false">
    </div>

    {% include('dashboard/addStudentModal.html.twig') %}

    <section>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStudent">
            ADD A STUDENT
        </button>
    </section>

    </body>
{% endblock %}