<!-- Modal confirmation suppression d'élève -->
<div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete this student ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" id="confirm-delete-student" data-id="{{ student.id }}">Yes</button>
            </div>
        </div>
    </div>
</div>