{% extends 'base.html.twig' %}

{% block body %}
<body>
<section id="list-classes">
    <div>
        {% for class in classes %}
            <a href="/dashboard/class/{{ class.id }}">
                <button class="btn">
                    CLASS {{ class }}
                </button>
            </a>
        {% endfor %}
    </div>
    <div>
        <a href="/dashboard/class/add"><button class="btn btn-primary">ADD A CLASS</button></a>
    </div>
    </section>
</body>
{% endblock %}
