{% extends 'base.html.twig' %}

{% block body %}
    <body class="dashboard">
    <section id="list-classes">
        <div>
            {% for class in classes %}
                <button class="btn class-btn" data-classid="{{ class.id }}">
                    CLASS {{ class.label }}
                </button>
            {% endfor %}
        </div>
        <div>
            <a href="/dashboard/class/add"><button class="btn btn-primary">ADD A CLASS</button></a>
        </div>
    </section>
    </body>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
{% block footer %}{% endblock %}